node_modules
.next
out

.git
.gitignore

Dockerfile
.dockerignore

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

__tests__
tests
*.spec.*
*.test.*

README.md
docs
data

.env*
!.env.production